@page "/apikeys"
@attribute [Authorize]

@inject IEsquioHttpClient esquioHttpClient
@inject EsquioState  esquioState

@inject NavigationManager navigation


<PageTransition>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <PageTitle Title="ApiKeys" Subtitle="Show the current Api Keys on Esquio.">
                    <Icon>
                        <i class="fas fa-key"></i>
                    </Icon>
                    <Actions>
                        <Permission Requires="PolicyAction.Modify" Over="PolicySubject.Permission">
                            <button type="button" class="btn btn-primary btn-shadow" @onclick="OpenModalNewApiKey">
                                New Api Key
                            </button>
                        </Permission>
                    </Actions>
                </PageTitle>
            </div>
        </div>

        @if (newApiKeyResponse != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i><strong>@newApiKeyResponse.Key</strong></h5>
                A new API key has been created. Make sure to copy your new API key now. You will not be able to do so again!
            </div>
        }

    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <PaginatedTable Loader="Loader"
                                    @ref="table">
                        <TableHeader>
                            <th class="table-col-4">Api Key Name</th>
                            <th>Valid To</th>
                            <Permission Requires="PolicyAction.Modify" Over="PolicySubject.Permission">
                                <th class="table-col-1"></th>
                            </Permission>
                        </TableHeader>
                        <TableBody Context="apiKeys">
                            @foreach (var item in apiKeys.Items)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.ValidTo</td>
                                    <Permission Requires="PolicyAction.Modify" Over="PolicySubject.Product">
                                        <td class="table-component__action">
                                            <Button Title="Delete"
                                                    Icon="far fa-trash-alt"
                                                    OnClick="@(() => Delete(item.Name))" />
                                        </td>
                                    </Permission>
                                </tr>
                            }
                        </TableBody>
                    </PaginatedTable>
                </div>
            </div>
        </div>
    </section>
</PageTransition>

<Modal Title="New Api Key" Show="showModalNewApiKey" OnClose="CloseModalNewApiKey">
    <ModalBody>
        <EditForm EditContext="@editContextNewApiKey">
            <FluentValidationValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="subject-id">Name</label>
                <InputText id="subject-id" class="form-control" @bind-Value="newApiKey.Name" placeholder="Enter the application key name, this will be unique." />
            </div>

            <div class="form-group">
                <label for="subject-actas">ValidTo</label>
                <InputDate type="date" class="form-control form-control-sm col-4" format-value="yyyy-MM-dd" @bind-Value="@newApiKey.ValidTo" placeholder="Enter ApiKey expiration time"></InputDate>
            </div>

            <div class="form-group">
                <label for="subject-actas">Act as</label>
                <InputSelect class="form-control" @bind-Value="newApiKey.ActAs">
                    <option selected disabled hidden>Acting as</option>
                    <option value="Reader">Reader</option>
                    <option value="Contributor">Contributor</option>
                    <option value="Management">Management</option>
                </InputSelect>
            </div>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-default" @onclick="CloseModalNewApiKey" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @onclick="Add" disabled="@formInvalidNewApiKey">Save changes</button>
    </ModalFooter>
</Modal>

@code {

    //add modal
    private bool showModalNewApiKey = false;
    private bool formInvalidNewApiKey;
    private AddApiKeyRequest newApiKey;
    private EditContext editContextNewApiKey;

    private PaginatedTable<ListApiKeyResponseDetail> table;

    private AddApiKeyResponse newApiKeyResponse;

    protected override void OnInitialized()
    {
        InitModelNewApiKeys();


        esquioState.SetBreadcrumb(
            new BreadcrumbItemViewModel { Title = "Home", Link = "/" },
            new BreadcrumbItemViewModel { Title = "ApiKeys", Active = true });
    }

    private void InitModelNewApiKeys()
    {
        formInvalidNewApiKey = true;

        newApiKey = new AddApiKeyRequest()
        {
            ValidTo = null,//DateTime.UtcNow
        };

        editContextNewApiKey = new EditContext(newApiKey);
        editContextNewApiKey.OnValidationStateChanged += OnAddApiKeysValidationChanged;
    }

    private void OnAddApiKeysValidationChanged(object sender, ValidationStateChangedEventArgs args)
    {
        formInvalidNewApiKey = !editContextNewApiKey.IsValid();
        StateHasChanged();
    }

    private void OpenModalNewApiKey()
    {
        InitModelNewApiKeys();
        showModalNewApiKey = true;

        esquioState.SetWindowModal(showModalNewApiKey);
    }

    private void CloseModalNewApiKey()
    {
        showModalNewApiKey = false;
        editContextNewApiKey.OnValidationStateChanged -= OnAddApiKeysValidationChanged;

        esquioState.SetWindowModal(showModalNewApiKey);
    }

    private Task<PaginatedResult<ListApiKeyResponseDetail>> Loader(int pageIndex, int pageCount)
    {
        return esquioHttpClient.GetApiKeyList(pageIndex, pageCount);
    }

    private async Task Add()
    {
        newApiKeyResponse = await esquioHttpClient.AddNewApiKey(newApiKey);
        await table.OnAdd();

        CloseModalNewApiKey();
        InitModelNewApiKeys();
    }

    private async Task Delete(string apiKey)
    {
        await esquioHttpClient.DeleteApiKey(apiKey);
        await table.OnDelete();
    }

    private void Clear()
    {
        newApiKeyResponse = null;
        StateHasChanged();
    }
}
