@page "/products/{productName}"
@attribute [Authorize]


@inject IEsquioHttpClient esquioHttpClient
@inject EsquioState  esquioState
@inject NavigationManager navigation

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="bottom-spacing">@ProductName</h1>
            </div>
            @*<div class="col-sm-6">
                    <Breadcrumb Items="breadcrumb" />
                </div>*@
        </div>
        <div class="row mb-2">
            <PageTitle Title="Features"
                       Subtitle="Show the collection of active features on current product.">
                <Icon>
                    <i class="fas fa-magic"></i>
                </Icon>
                <Actions>
                    <button type="button" class="btn btn-primary btn-shadow" @onclick="OpenNewFeatureModal">
                        New Feature
                    </button>
                </Actions>
            </PageTitle>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <PaginationTable Loader="FeatureLoader"
                       @ref="featuresTable">
                    <TableHeader>
                        <th class="table-col-4">Name</th>
                        <th>Description</th>
                        <th class="table-col-1"></th>
                        <th class="table-col-1"></th>
                        <th class="table-col-1"></th>
                        <th class="table-col-1"></th>
                        <th class="table-col-1"></th>
                    </TableHeader>
                    <TableBody Context="features">
                        @foreach (var feature in features.Items)
                        {
                        <tr>
                            <td>@feature.Name</td>
                            <td>@feature.Description</td>
                            <td>
                                <div class="switch-container">
                                    <input type="checkbox"
                                           id="switch-@feature.Name"
                                           checked="@feature.Enabled"
                                           @onchange="@(() => ToggleFeature(feature))" />
                                    <label title="Enable/Disable" for="switch-@feature.Name"></label>
                                </div>
                            </td>
                            <td class="table-component__action">
                                <i title="Rollout"
                                   class="fas fa-upload"
                                   @onclick="@(() => RolloutFeature(feature.Name))"
                                   @onclick:stopPropagation>
                                </i>
                            </td>
                            <td class="table-component__action">
                                <i title="Rolloff"
                                   class="fas fa-download"
                                   @onclick="@(() => RolloffFeature(feature.Name))"
                                   @onclick:stopPropagation>
                                </i>
                            </td>
                            <td class="table-component__action">
                                <i title="Archive"
                                   class="fas fa-archive"
                                   @onclick="@(() => ArchiveFeature(feature.Name))"
                                   @onclick:stopPropagation>
                                </i>
                            </td>
                            <td class="table-component__action">
                                <i title="Delete"
                                   class="far fa-trash-alt"
                                   @onclick="@(() => DeleteFeature(feature.Name))"
                                   @onclick:stopPropagation>
                                </i>
                            </td>
                        </tr>
                        }
                    </TableBody>
                </PaginationTable>
            </div>
        </div>
    </div>
</section>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <PageTitle Title="Rings"
                       Subtitle="Defined Rings on this product, Rings allow configure different Toggle values for each ring and test configurations on different ring/environments.">
                <Icon>
                    <i class="fas fa-ring"></i>
                </Icon>
                <Actions>
                    <button type="button" class="btn btn-primary btn-shadow" @onclick="OpenNewRingModal">
                        New Ring
                    </button>
                </Actions>
            </PageTitle>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <SingleTable Loader="RingsLoader" @ref="ringTable">
                    <TableHeader>
                        <th class="table-col-4">Name</th>
                        <th></th>
                        <th class="table-col-1"></th>
                    </TableHeader>
                    <TableBody Context="response">
                        @foreach (var ring in response.Rings)
                        {
                            <tr>
                                <td>@ring.Name</td>
                                @if (ring.Default)
                                {
                                    <td><span class="right badge badge-info">default ring</span></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td class="table-component__action">
                                    @if (!ring.Default)
                                    {
                                        <i title="Delete" class="far fa-trash-alt" 
                                           @onclick="@(() => DeleteRing(ring.Name))"
                                           @onclick:stopPropagation></i>
                                    }
                                </td>
                            </tr>
                        }
                    </TableBody>
                </SingleTable>
            </div>
        </div>
    </div>
</section>

<Modal Title="New Feature" Show="showNewFeatureModal" OnClose="CloseNewFeatureModal">
    <ModalBody>
        <EditForm EditContext="@newFeatureEditContext">
            <FluentValidationValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="feature-name">Name</label>
                <InputText id="feature-name" class="form-control" @bind-Value="newFeatureModel.Name" placeholder="Enter feature name" />
            </div>

            <div class="form-group">
                <label for="feature-description">Description</label>
                <InputText id="feature-description" class="form-control" @bind-Value="newFeatureModel.Description" placeholder="Enter feature description" />
            </div>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-default" @onclick="CloseNewFeatureModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @onclick="AddFeature" disabled="@newFeatureFormInvalid">Save changes</button>
    </ModalFooter>
</Modal>

<Modal Title="New Ring" Show="showNewRingModal" OnClose="CloseNewRingModal">
    <ModalBody>
        <EditForm EditContext="@newRingEditContext">
            <FluentValidationValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="feature-name">Name</label>
                <InputText id="feature-name" class="form-control" @bind-Value="newRingModel.Name" placeholder="Enter ring name" />
            </div>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-default" @onclick="CloseNewRingModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @onclick="AddNewRing" disabled="@newRingFormInvalid">Save changes</button>
    </ModalFooter>
</Modal>

@code {

    [Parameter] public string ProductName { get; set; }

    //Feature form parameters
    private bool showNewFeatureModal = false;
    private bool newFeatureFormInvalid = true;
    private AddFeatureRequest newFeatureModel;
    private EditContext newFeatureEditContext;
    private PaginationTable<ListFeatureResponseDetail> featuresTable;

    //Rings form parameters
    private bool showNewRingModal = false;
    private bool newRingFormInvalid = true;
    private AddRingRequest newRingModel;
    private EditContext newRingEditContext;
    private SingleTable<DetailsProductResponse> ringTable;

    private List<BreadcrumbItemViewModel> breadcrumb;

    protected override void OnInitialized()
    {
        InitFeatureModel();
        InitRingModel();

        breadcrumb = new List<BreadcrumbItemViewModel>()
        {
            new BreadcrumbItemViewModel { Title = "Home", Link = "#" },
            new BreadcrumbItemViewModel { Title = "Products", Link = "products" },
            new BreadcrumbItemViewModel { Title = ProductName, Active = true },
        };
    }

    private void InitFeatureModel()
    {
        newFeatureFormInvalid = true;

        newFeatureModel = new AddFeatureRequest();
        newFeatureEditContext = new EditContext(newFeatureModel);
        newFeatureEditContext.OnValidationStateChanged += OnAddFeatureValidationChanged;
    }

    private void OpenNewFeatureModal()
    {
        InitFeatureModel();
        showNewFeatureModal = true;

        esquioState.IsApplicationShowingWindowModal(showNewFeatureModal);

    }

    private void CloseNewFeatureModal()
    {
        showNewFeatureModal = false;
        newFeatureEditContext.OnValidationStateChanged -= OnAddFeatureValidationChanged;

        esquioState.IsApplicationShowingWindowModal(showNewFeatureModal);
    }

    private void OnAddFeatureValidationChanged(object sender, ValidationStateChangedEventArgs args)
    {
        newFeatureFormInvalid = !newFeatureEditContext.IsValid();
        StateHasChanged();
    }

    private Task<PaginatedResult<ListFeatureResponseDetail>> FeatureLoader(int pageIndex, int pageCount)
    {
        return esquioHttpClient.GetProductFeaturesList(ProductName, pageIndex, pageCount);
    }

    private async Task ToggleFeature(ListFeatureResponseDetail feature)
    {
        var request = new UpdateFeatureRequest
        {
            Name = feature.Name,
            Description = feature.Description,
            Enabled = !feature.Enabled
        };

        await esquioHttpClient.ToggleFeature(ProductName, feature.Name, request);
        await featuresTable.Reload();
    }

    private async Task RolloutFeature(string featureName)
    {
        await esquioHttpClient.RolloutFeature(ProductName, featureName);
        await featuresTable.Reload();
    }

    private async Task RolloffFeature(string featureName)
    {
        await esquioHttpClient.RollbackFeature(ProductName, featureName);
        await featuresTable.Reload();
    }

    private async Task ArchiveFeature(string featureName)
    {
        await esquioHttpClient.ArchiveFeature(ProductName, featureName);
        await featuresTable.Reload();
    }

    private async Task AddFeature()
    {
        await esquioHttpClient.AddFeature(ProductName, newFeatureModel);
        await featuresTable.OnAdd();

        CloseNewFeatureModal();
        InitFeatureModel();
    }

    private async Task DeleteFeature(string featureName)
    {
        await esquioHttpClient.DeleteFeature(ProductName, featureName);
        await featuresTable.OnDelete();
    }

    private void InitRingModel()
    {
        newRingFormInvalid = true;

        newRingModel = new AddRingRequest();
        newRingEditContext = new EditContext(newRingModel);
        newRingEditContext.OnValidationStateChanged += OnAddRingValidationChanged;

    }

    private void OnAddRingValidationChanged(object sender, ValidationStateChangedEventArgs args)
    {
        newRingFormInvalid = !newRingEditContext.IsValid();
        StateHasChanged();
    }

    private void OpenNewRingModal()
    {
        showNewRingModal = true;
        InitRingModel();

        esquioState.IsApplicationShowingWindowModal(showNewRingModal);
    }

    private void CloseNewRingModal()
    {
        showNewRingModal = false;
        newRingEditContext.OnValidationStateChanged -= OnAddRingValidationChanged;

        esquioState.IsApplicationShowingWindowModal(showNewRingModal);
    }

    private Task<DetailsProductResponse> RingsLoader()
    {
        return esquioHttpClient.GetProduct(ProductName);
    }

    private async Task AddNewRing()
    {
        await esquioHttpClient.AddProductRing(ProductName, newRingModel);
        await ringTable.OnAdd();

        CloseNewRingModal();
        InitRingModel();
    }

    private async Task DeleteRing(string ringName)
    {
        await esquioHttpClient.DeleteProductRing(ProductName, ringName);
        await ringTable.OnDelete();

        CloseNewRingModal();
        InitRingModel();
    }
}
