@page "/products/{productName}"
@attribute [Authorize]
@inherits ContainerComponentBase
@inject EsquioState State

<PageTransition>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="bottom-spacing">@ProductName</h1>
                </div>
            </div>
            <div class="row mb-2">
                <PageTitle Title="Features"
                            Subtitle="Show the collection of features on current product.">
                    <Icon>
                        <i class="fas fa-magic"></i>
                    </Icon>
                    <Actions>
                        <Permission Requires="PolicyAction.Create" Over="PolicySubject.Feature">
                            <button type="button" class="btn btn-primary btn-shadow" @onclick="OpenNewFeatureModal">
                                New Feature
                            </button>
                        </Permission>
                    </Actions>
                </PageTitle>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <Table Loader="FeatureLoader"
                            Total="@(items => items.Total)"
                            Count="@(items => items.Count)"
                            SkeletonColumns="featureSkeletonColumns"
                            SkeletonActions="featureSkeletonActions"
                            @ref="featuresTable">
                        <TableHeader>
                            <th class="table-col-4">Name</th>
                            <th>Description</th>
                            <Permission Requires="PolicyAction.Update" Over="PolicySubject.Feature">
                                <th class="table-col-1"></th>
                                <th class="table-col-1"></th>
                                <th class="table-col-1"></th>
                            </Permission>
                            <Permission Requires="PolicyAction.Delete" Over="PolicySubject.Feature">
                                <th class="table-col-1"></th>
                            </Permission>
                        </TableHeader>
                        <TableBody Context="features">
                            @foreach (var feature in features.Result)
                            {
                                <tr>
                                    <td>@feature.Name</td>
                                    <td>@feature.Description</td>
                                    <Permission Requires="PolicyAction.Update" Over="PolicySubject.Feature">
                                        <td class="table-component__action">
                                            <Switch Title="Enable/Disable"
                                                    Checked="@feature.Enabled"
                                                    OnChange="@(() => ToggleFeature(feature))" />
                                        </td>
                                        <td class="table-component__action">
                                            <Button Title="Rollout"
                                                    Icon="fas fa-upload"
                                                    OnClick="@(() => RolloutFeature(feature.Name))" />
                                        </td>
                                        <td class="table-component__action">
                                            <Button Title="Rolloff"
                                                    Icon="fas fa-download"
                                                    OnClick="@(() => RolloffFeature(feature.Name))" />
                                        </td>
                                    </Permission>
                                    <Permission Requires="PolicyAction.Delete" Over="PolicySubject.Feature">
                                        <td class="table-component__action">
                                            <Button Title="Delete"
                                                    Icon="far fa-trash-alt"
                                                    OnClick="@(() => DeleteFeature(feature.Name))" />
                                        </td>
                                    </Permission>
                                </tr>
                            }
                        </TableBody>
                    </Table>
                </div>
            </div>
        </div>
    </section>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <PageTitle Title="Rings"
                            Subtitle="Defined Rings on current product.">
                    <Icon>
                        <i class="fas fa-ring"></i>
                    </Icon>
                    <Actions>
                        <Permission Requires="PolicyAction.Create" Over="PolicySubject.Ring">
                            <button type="button" class="btn btn-primary btn-shadow" @onclick="OpenNewRingModal">
                                New Ring
                            </button>
                        </Permission>
                    </Actions>
                </PageTitle>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <SingleTable Loader="RingLoader" @ref="ringTable">
                        <TableHeader>
                            <th class="table-col-4">Name</th>
                            <th></th>
                            <Permission Requires="PolicyAction.Delete" Over="PolicySubject.Ring">
                                <th class="table-col-1"></th>
                            </Permission>
                        </TableHeader>
                        <TableBody Context="response">
                            @foreach (var ring in response.Rings)
                            {
                            <tr>
                                <td colspan="2">
                                    @ring.RingName
                                    @if (ring.Default)
                                    {
                                    <span class="badge badge-info">default ring</span>
                                    }
                                </td>
                                <Permission Requires="PolicyAction.Delete" Over="PolicySubject.Ring">
                                    <td class="table-component__action">
                                        @if (!ring.Default)
                                        {
                                        <Button Title="Delete"
                                                Icon="far fa-trash-alt"
                                                OnClick="@(() => DeleteRing(ring.RingName))" />
                                        }
                                    </td>
                                </Permission>
                            </tr>
                            }
                        </TableBody>
                    </SingleTable>
                </div>
            </div>
        </div>
    </section>
</PageTransition>


<Modal Title="New Feature" Show="showNewFeatureModal" OnClose="CloseNewFeatureModal">
    <ModalBody>
        <EditForm EditContext="@newFeatureEditContext">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="feature-name">Name</label>
                <InputText id="feature-name" class="form-control" @bind-Value="newFeatureModel.Name" placeholder="Enter feature name" />
            </div>

            <div class="form-group">
                <label for="feature-description">Description</label>
                <InputText id="feature-description" class="form-control" @bind-Value="newFeatureModel.Description" placeholder="Enter feature description" />
            </div>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-default" @onclick="CloseNewFeatureModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @onclick="AddFeature" disabled="@newFeatureFormInvalid">Save changes</button>
    </ModalFooter>
</Modal>

<Modal Title="New Ring" Show="showNewRingModal" OnClose="CloseNewRingModal">
    <ModalBody>
        <EditForm EditContext="@newRingEditContext">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="ring-name">Name</label>
                <InputText id="ring-name" class="form-control" @bind-Value="newRingModel.Name" placeholder="Enter ring name" />
            </div>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-default" @onclick="CloseNewRingModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @onclick="AddNewRing" disabled="@newRingFormInvalid">Save changes</button>
    </ModalFooter>
</Modal>

@code {
    [Parameter] public string ProductName { get; set; }

    //Feature form parameters
    private bool showNewFeatureModal = false;
    private bool newFeatureFormInvalid = true;
    private int featureSkeletonColumns = 2;
    private int featureSkeletonActions = 0;
    private FeatureViewModel newFeatureModel;
    private EditContext newFeatureEditContext;
    private Table<ListFeatureResponse> featuresTable;

    //Rings form parameters
    private bool showNewRingModal = false;
    private bool newRingFormInvalid = true;
    private RingViewModel newRingModel;
    private EditContext newRingEditContext;
    private SingleTable<DetailsRingResponse> ringTable;

    protected override void OnInitialized()
    {
        InitFeatureModel();
        InitRingModel();

        State.SetBreadcrumb(
            new BreadcrumbItemViewModel { Title = "Home", Link = "#" },
            new BreadcrumbItemViewModel { Title = "Products", Link = "products" },
            new BreadcrumbItemViewModel { Title = ProductName, Active = true });

        if (State.Policy.Can(PolicyAction.Update, PolicySubject.Feature))
        {
            featureSkeletonColumns += 3;
            featureSkeletonActions += 3;
        }

        if (State.Policy.Can(PolicyAction.Delete, PolicySubject.Feature))
        {
            featureSkeletonColumns += 1;
            featureSkeletonActions += 1;
        }
    }

    private void InitFeatureModel()
    {
        newFeatureFormInvalid = true;

        if (newFeatureEditContext != null)
        {
            newFeatureEditContext.OnFieldChanged -= OnNewFeatureFieldChanged;
        }

        newFeatureModel = new FeatureViewModel();
        newFeatureEditContext = new EditContext(newFeatureModel);
        newFeatureEditContext.OnFieldChanged += OnNewFeatureFieldChanged;
    }

    private void OnNewFeatureFieldChanged(object sender, FieldChangedEventArgs args)
    {
        newFeatureFormInvalid = !newFeatureEditContext.Validate();
        StateHasChanged();
    }

    private Task<ListFeatureResponse> FeatureLoader(int pageIndex, int pageCount)
    {
        return Client.Features_ListAsync(ProductName, pageIndex, pageCount);
    }


    private async Task ToggleFeature(ListFlagResponseDetail feature)
    {
        var request = new UpdateFeatureRequest
        {
            Name = feature.Name,
            Description = feature.Description,
            Enabled = !feature.Enabled
        };

        await Client.Features_UpdateAsync(ProductName, feature.Name, request);

        await featuresTable.Reload();
    }

    private async Task RolloutFeature(string featureName)
    {
        await Client.Features_RolloutAsync(ProductName, featureName);

        await featuresTable.Reload();
    }

    private async Task RolloffFeature(string featureName)
    {
        await Client.Features_RollbackAsync(ProductName, featureName);

        await featuresTable.Reload();
    }

    private async Task AddFeature()
    {
        await Client.Features_AddAsync(ProductName, newFeatureModel.ToRequest());
        await featuresTable.OnAdd();

        CloseNewFeatureModal();
        InitFeatureModel();
    }

    private async Task DeleteFeature(string featureName)
    {
        await Client.Features_DeleteAsync(ProductName, featureName);
        await featuresTable.OnDelete();
    }

    private void OpenNewFeatureModal()
    {
        showNewFeatureModal = true;
        State.IsApplicationShowingWindowModal(showNewFeatureModal);

    }

    private void CloseNewFeatureModal()
    {
        showNewFeatureModal = false;
        State.IsApplicationShowingWindowModal(showNewFeatureModal);
    }

    private void InitRingModel()
    {
        newRingFormInvalid = true;

        if (newRingEditContext != null)
        {
            newRingEditContext.OnFieldChanged += OnNewRingFieldChanged;
        }

        newRingModel = new RingViewModel();
        newRingEditContext = new EditContext(newRingModel);
        newRingEditContext.OnFieldChanged += OnNewRingFieldChanged;
    }

    private void OnNewRingFieldChanged(object sender, FieldChangedEventArgs args)
    {
        newRingFormInvalid = !newRingEditContext.Validate();
        StateHasChanged();
    }

    private Task<DetailsRingResponse> RingLoader()
    {
        return Client.Products_GetProductRingsAsync(ProductName);
    }

    private async Task AddNewRing()
    {
        await Client.Products_AddRingAsync(ProductName, newRingModel.ToRequest());
        await ringTable.OnAdd();

        CloseNewRingModal();
        InitRingModel();
    }

    private async Task DeleteRing(string ringName)
    {
        await Client.Products_DeleteRingAsync(ProductName, ringName);
        await ringTable.OnDelete();
    }

    private void OpenNewRingModal()
    {
        showNewRingModal = true;
        State.IsApplicationShowingWindowModal(showNewRingModal);
    }

    private void CloseNewRingModal()
    {
        showNewRingModal = false;
        State.IsApplicationShowingWindowModal(showNewRingModal);
    }
}
