@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WebApp.Models.Match

<div class="container">
    <div class="jumbotron p-sm-3">
        <h3 class="d-flex justify-content-between">
            <span>
                <span class="card-colors" style="background: linear-gradient(to right, @Model.Local.PrimaryColor 0%,  @Model.Local.PrimaryColor 50%,  @Model.Local.SecondaryColor 50%,  @Model.Local.SecondaryColor 100%);"></span>
                <span>@Model.Local.Name - @Model.Visitor.Name</span>
                <span class="card-colors" style="background: linear-gradient(to right, @Model.Visitor.PrimaryColor 0%,  @Model.Visitor.PrimaryColor 50%,  @Model.Visitor.SecondaryColor 50%,  @Model.Visitor.SecondaryColor 100%);"></span>
            </span>
            <span class="badge badge-pill">@Model.Time</span>
        </h3>

        <p class="lead">@Localizer["Title"]</p>
        <p>@Model.Description</p>
    </div>

    <h4>@Localizer["Current"]</h4>
    @if (Model.Minutes != null)
    {
        <flag featureName="@Flags.MinutesProgressBar">
            <div class="progress mb-4">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info js-minutes-progress" role="progressbar" aria-valuemin="0"></div>
            </div>
        </flag>

        <div class="container pb-4 js-minutes is-hidden">
            @foreach (var minute in Model.Minutes)
            {
            <div class="row minute pb-1 pt-1 js-live-minute is-hidden">
                <div class="col-auto text-center">@minute.Minute'</div>
                <div class="col-auto text-center">
                    <i class="@(" detail-icon icon icon-" + minute.Event)"></i>
                </div>
                <div class="col-10">@minute.Text</div>
            </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/match/minutes.js" asp-append-version="true"></script>
}