@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WebApp.Models.Match

<div class="container">
    <div class="jumbotron p-sm-3">
        <h3 class="d-flex justify-content-between">
            @Localizer["LiveScore"] @Model.Local - @Model.Visitor
            <span class="badge badge-pill">@Model.Time</span>
        </h3>

        <p class="lead">@Localizer["Title"]</p>
        <p>@Model.Description</p>
    </div>

    <h4>@Localizer["Current"]</h4>
    @if (Model.Minutes != null)
    {
        // In an ideal world here we need a flagSwitch
        <flag featureName="@Flags.AlphaUser">
            <partial name="_LiveMinutes" model="Model" />
        </flag>
        <div class="js-alpha-live-disable">
            <partial name="_Minutes" model="Model" />
        </div>
    }
</div>
